---
layout: default.hbs
class: home
---

{{>header}}

	<section class="section" id="section0">
		<div class="container vertical-center">
			<img src="images/logo.png" /></div>
		</div>
	</section>
	<section class="section" id="section1">
		<div class="container">

			<div class="row">
				<div class="col-xs-10 col-xs-push-1">
					<div class="col-xs-4">

						<div class="hotel-details">
							<a href="">
								<img src="images/mercure.png"/>
								<p>Mercure White Hart Hotel</p>
								<p>1 St John Street</p>
								<p>Salisbury</p>
								<p>SP1 2SD</p>
								<p class="tele">Tel: 01962 312801</p>
								<p>Prices from: £100</p>
							</a>
						</div>
					</div>
					<div class="col-xs-4">

						<div class="hotel-details">
							<a>
								<img src="images/mercure.png"/>
								<p class="hotel-name">Mercure White Hart Hotel</p>
								<p>1 St John Street</p>
								<p>Salisbury</p>
								<p>SP1 2SD</p>
								<p class="telephone-number">Tel: 01962 312801</p>
								<p>Prices from: £100</p>
							</a>
						</div>
					</div>
					<div class="col-xs-4">

						<div class="hotel-details">
							<img src="images/mercure.png"/>
							<p>Mercure White Hart Hotel</p>
							<p>1 St John Street</p>
							<p>Salisbury</p>
							<p>SP1 2SD</p>
							<p class="tele">Tel: 01962 312801</p>
							<p>Prices from: £100</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section" id="section2">
		<div class="container vertical-center">
			<div class="row">
				<div class="col-xs-10 col-xs-push-1 col-sm-push-2 col-sm-8 text-center">
					<h1 class="bottom-margin-15">Gifts</h1>
					<p>What we want most for our wedding is to have all of our friends and family there to celebrate the occasion with us, however we aren't currently going on a honeymoon but would love to plan one.
					<p>If you would like to give a gift, we would be very grateful if you could donate to our honeymoon fund. If your happy with payments online we have set up a gofundme page. Just click the link below.</p>
					<a class="button top-margin-30" href="#">thankyou</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section" id="section3">
		<div class="wrapper darkText">
			<div class="content left">
				<h1>Multiple Options Out Of The Box.</h1>
				<p>You can apply Alton to all parent containers, as we’ve done here. Plus, you can choose to only apply it to the hero section using <a href="/alton/heroscroll">HeroScroll</a>, or use a nifty feature we built in called <a href="/alton/bookend">Bookend</a> to allow for independent starting & finishing containers. Plus, the whole plugin is easy to implement, lightweight, and has fallbacks for mobile.</p>
			</div>
			<div class="image-container right">
				<img src="images/options-graphic.svg" />
			</div>
		</div>
	</section>
	<section class="section" id="section4">
		<div class="wrapper lightText">
			<div class="content center">
				<h1>Download Links</h1>
				<a href="https://github.com/paper-leaf/alton/" target="_blank">GitHub</a>
				<!-- Need Download Link -->
				<a href="https://github.com/paper-leaf/alton/archive/1.0.1.zip">Download</a>
				<a href="http://paper-leaf.com" target="_blank">Paper Leaf</a>
				<div class="tutLinks">
					<a href="http://demo.paper-leaf.com/alton/heroscroll">
						← View HeroScroll Demo
					</a>
					<!-- Need Tutorial Link -->
					<a href="http://paper-leaf.com/alton-jquery-scroll-jacking-plugin">
						Back to Tutorial
					</a>
					<a href="http://demo.paper-leaf.com/alton/bookend">
						View Bookend Demo →
					</a>
				</div>
			</div>
		</div>
	</section>

