---
layout: default.hbs
class: home
---

{{>header}}

<main class="main inner-page">
	<div class="video-page">
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 section-text">
						<h1>Baseline Consistency Drill</h1>
						<p>In this video, coaches Simon Konov and Alex Slabinsky show you a simple yet very demanding drill.</p>
					</div>
					<div class="gallery col-xs-12">
						<div class="vimeo banner" data-href="141591979" data-background="david.jpg"></div>
						<ul class="thumbnails row">
							<li class="col-xs-12 col-sm-4">
								<div class="thumbnail vimeo small" data-href="136722796"></div>
							</li>
							<li class="col-xs-12 col-sm-4">
								<div class="thumbnail vimeo small" data-href="136722796"></div>
							</li>
							<li class="col-xs-12 col-sm-4">
								<div class="thumbnail vimeo small" data-href="136722796"></div>
							</li>
							<li class="col-xs-12 col-sm-4">
								<div class="thumbnail vimeo small" data-href="136722796"></div>
							</li>
							<li class="col-xs-12 col-sm-4">
								<div class="thumbnail vimeo small" data-href="136722796"></div>
							</li>
							<li class="col-xs-12 col-sm-4">
								<div class="thumbnail vimeo small" data-href="136722796"></div>
							</li>
							<li class="col-xs-12 col-sm-4">
								<div class="thumbnail vimeo small" data-href="136722796"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>	
	</div>
</main>

{{>footer}}