---
layout: default.hbs
class: home
---

{{>header}}

<main class="main inner-page">
	<div class="video-page">
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 section-text">
						<h1>Baseline Consistency Drill</h1>
						<p>In this video, coaches Simon Konov and Alex Slabinsky show you a simple yet very demanding drill.</p>
					</div>
					<div class="col-xs-12">
						<ul class="bxslider">
							<li><div class="vimeo lazy" data-href="136722796" data-background="david.jpg"></div></li>
							<li><div class="vimeo lazy" data-href="136722796" data-background="david.jpg"></div></li>
							<li><div class="vimeo lazy" data-href="136722796" data-background="david.jpg"></div></li>
							<li><div class="vimeo lazy" data-href="136722796" data-background="david.jpg"></div></li>
							<li><div class="vimeo lazy" data-href="136722796" data-background="david.jpg"></div></li>
							<li><div class="vimeo lazy" data-href="136722796" data-background="david.jpg"></div></li>
							<li><div class="vimeo lazy" data-href="136722796" data-background="david.jpg"></div></li>
						</ul>
						<div id="bx-pager">
							<a data-slide-index="0" href=""></a>
							<a data-slide-index="1" href=""></a>
							<a data-slide-index="2" href=""></a>
							<a data-slide-index="3" href=""></a>
							<a data-slide-index="4" href=""></a>
							<a data-slide-index="5" href=""></a>
							<a data-slide-index="6" href=""></a>
						</div>
					</div>
					<div class="col-xs-12 section-text">
						<p>In this video, coaches Simon Konov and Alex Slabinsky show you a simple yet very demanding drill. One player is at net hitting volleys while the baseline player has to hit back to the net player. The goal is to do 10 balls in a row, then 9, then 8 all the way down to 1 ball. If you miss a shot, you repeat that number until you complete it. If doing this with a hitting partner make sure to alternate. You could also do this starting at 15 or 20. This drill is also great for fitness.</p>
					</div>
				</div>
			</div>
		</section>	
	</div>
</main>

{{>footer}}