<header class="header hidden-xs hidden-sm">
	<nav class="sub-navigation">
		<div class="container">
			<div class="row">
				<a class="sign-in" href="">sign in / register</a>
			</div>
		</div>
	</nav>
	<!--<nav class="navigation">
		<div class="container">
			<a class="logo">Top Tennis Training</a>
			<ul class="menu">
				<li class="selected"><a href="#home">Home</a></li>
				<li><a href="#accomodation">Master your tennis</a></li>
				<li><a href="#schedule">Tips</a>
					<ul>
						<li><a href="#">HTML</a></li>
						<li><a href="#">CSS</a>
							<ul>
								<li><a href="#">Resets</a></li>
								<li><a href="#">Grids</a></li>
								<li><a href="#">Frameworks</a></li>
							</ul>
						</li>
						<li><a href="#">JavaScript</a>
							<ul>
								<li><a href="#">Ajax</a></li>
								<li><a href="#">jQuery</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#rsvp">Drills</a></li>
				<li><a href="#gifts">Pro Footage</a></li>
				<li><a href="#directions">Strategy</a></li>
				<li><a href="#directions">Course</a></li>
				<li><a href="#directions">Free Access</a>
					<ul>
						<li><a href="#">HTML challenges</a></li>
						<li><a href="#">CSS</a>
							<ul>
								<li><a href="#">Resets</a></li>
								<li><a href="#">Grids</a></li>
								<li><a href="#">Frameworks</a></li>
							</ul>
						</li>
						<li><a href="#">JavaScript</a>
							<ul>
								<li><a href="#">Ajax</a></li>
								<li><a href="#">jQuery</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>-->
	<nav class="navigation clearfix">
			<div class="container">
				<div class="row">
				<div class="graphic-logo"></div>
				<a class="logo-container"><div class="logo"></div>Top Tennis Training</a>
				<ul class="menu">
					<li class="selected"><a href="#home">Home</a></li>
					<li><a href="#accomodation">Master your tennis</a></li>
					<li><a href="#schedule">Tips</a>
						<div class="dropdown">						
							<ul class="list">
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">Slicing</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
							</ul>				
						</div>
					</li>
					<li><a href="#rsvp">Drills</a>
											<div class="dropdown">						
							<ul class="list">
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">froehand</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
								<li>
									<div>
									<a href="#" class="">Slicing</a>
									<ul>
										<li>slice serving inside</li>
										<li>Kick serving right side</li>
										<li>Wide fast serving</li>
										<li>flat serve</li>
										<li>serving out wide</li>
									</ul>
									</div>
								</li>
							</ul>				
						</div>
					</li>
					<li><a href="#gifts">Pro Footage</a></li>
					<li><a href="#directions">Strategy</a></li>
					<li><a href="#directions">Course</a></li>
					<li><a href="#directions">Free Access</a></li>
				</ul>
			</div>
		</div>
	</nav>

</header>