<header class="header hidden-xs hidden-sm">
	<nav class="navigation">
		<ul>
			<li class="current"><a href="#home">Home</a></li>
			<li><a href="#accomodation">Accomodation</a></li>
			<li><a href="#schedule">The day</a></li>
			<li><a href="#rsvp">Rsvp</a></li>
			<li><a href="#gifts">Gifts</a></li>
			<li><a href="#directions">Directions</a></li>
		</ul>
	</nav>
</header>

<header class="hidden-md hidden-lg mobile-header">
	<nav class="mobile-navigation" id="mobile-navigation">
		<ul>
			<li class="mm-selected"><a href="#home">Home</a></li>
			<li><a href="#accomodation">Accomodation</a></li>
			<li><a href="#schedule">The day</a></li>
			<li><a href="#rsvp">Rsvp</a></li>
			<li><a href="#gifts">Gifts</a></li>
			<li><a href="#directions">Directions</a></li>
		</ul>
	</nav>
	<a href="#mobile-navigation" class="hidden-md hidden-lg hamburger"><span></span></a>
</header>