<header class="header">
		<nav>
			<ul>
				<li data-menuanchor="firstPage"><a href="#firstPage">Home</a></li>
				<li data-menuanchor="secondPage"><a href="#secondPage">accomodation</a></li>
				<li data-menuanchor="3rdPage"><a href="#3rdPage">gifts</a></li>
				<li data-menuanchor="3rdPage"><a href="#3rdPage">directions</a></li>
				<li data-menuanchor="4thpage"><a href="#4thpage">evening party</a></li>
			</ul>
		</nav>
</header>