.btn{
	padding:5px;
	text-transform:uppercase;
	font-weight:400;
	border:2px solid $blue;
	color:$blue;
	display:block;
	margin-bottom: 10px;
    text-align: center; 
    letter-spacing:2px;
    @include transition(all, .35s, ease);

    &.darkBlue{
    	background:$darkBlue;
    	border:none;
    	padding:7px;
    } 

    &.white{
    	border:1px solid $white;
  		color:$white;
    }
}

.fill-effect{
	&:hover{
		background:$blue;
		color:$white;
	}

}


.title-bar{
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	border:1px solid #ddd;
	text-align: center;
	padding: 7px;
}