/*header{
	.sub-navigation{
		background:$darkBlue;
		height:40px;
		.sign-in{
			float: right;
			color: white;
			padding: 9px 0px;
			&:hover{
				color:$blue;
			}
		}
	}
	.navigation{
		background:$blue;
		width: 100%;
		.logo{
			display:block;
			background: url("../images/logo.png");
			height: 54px;
			width: 101px;
			background-size: cover;
			margin: 10px 0px;
			float: left;
		}
		.menu:before, &:after{
			content: " ";
			display: table;
		}
		.menu:after{
			clear: both;
		}
		.menu {
			list-style: none;
			padding: 0;
			margin: 0;
			float:right;
			margin-right:-20px;
			z-index: 1;
			position: relative;
			> li{
				float: left;
				z-index: 1;
				&#blob {
					position: absolute;
					z-index: 0;
					bottom: 0;
					width: 0;
					padding:0px;
					span{
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid white;
						display: table;
						margin: 0 auto;	
					}
				}
				a {
					display: block;
					padding: 27px 20px;
					text-decoration: none;
					white-space: nowrap;
					color: #fff;
					text-transform: uppercase;
					font-size:14px;
					position: relative;
					z-index: 2;
					@include transition(all, .35s, ease);
				}
			}
		}
		.menu li{
			&:hover{
				> ul{
					opacity: 1;
					visibility: visible;
					position: absolute;
					display: block;
				}
			}
		}
		.menu > li > ul{
			position: absolute;
			border-bottom: 1px solid #eee;
			background: $white;
			opacity: 0;
			visibility: hidden;
			@include transition(all, .35s, ease);
			li{
				border-top:0;
				border-left: 1px solid #eee;
				border-right: 1px solid #eee;
				float:none;
				position: relative;
				a{
					padding: 10px 20px;
					color: $darkBlue;
					text-transform: none;
					&:hover{
						color:$blue;
					}
				}
			}
		}
		.menu > li > ul > li > ul{
			position: absolute;
			left: 100%;
			top: 0;
			background: $white;			
			display: none;
			position: relative;	
			@include transition(all, .0s, ease);
			li{
				float: none;
				a{
					color:$darkBlue;	
				}
			}
		}
	}
}*/

header{
	position: fixed;
    z-index: 2;
    width: 100%;

	&.slide-up{
		.sub-navigation{
			margin-top:-35px;
		}
	}

	.sub-navigation{
		@include transition(margin, .35s, ease);
		background:$blue;
		height:40px;

		ul{
			float:right;
			margin:14px 0px;
			li{
				float:left;
				line-height: 10px;
				a{
					color:$white;
					@include font-size(1);
					letter-spacing: 2px;
					padding: 0px 10px;
					text-transform: uppercase;
					@include transition(color, .35s, ease);
					&:hover{
						color:$darkBlue;
					}
				}
			}
		}

		ul.social{
			&:last-child{
				padding-right:10px;
				margin-right:15px;
				border-right:1px solid $white;
			}
		}

		ul.sign-in{
			li{
				&:last-child{
					a{
						padding-right:0px;
					}
				}
			}
		}
	}
	
	.navigation{
		width: 100%;
		z-index: 3;
		height:71px;
		@include transition(background, .35s, ease);
		background: $darkBlue;

		/*.sub-nav{
			position: absolute;
		    top: 100%;
		    width: 100%;
		    height: 0px;
		    background: darken($blue, 25);
		    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		    &.open{
		    	height:44px;
		    }
		}*/

		.logo-container{
			display: block;
			float: left;
			color: white;
			@include font-size(1.2);
			padding: 12px 0px;
			position: relative;
			letter-spacing:1px;
			.logo{
				display:block;
				background: url("../images/logo-text-white.png");
				height: 30px;
				width: 47px;
				background-size: cover;
				margin: 0 auto;
			}
		}

		.menu > li.open:before, .menu > li:hover:before {
		    height:100%;
		}

		.menu > li.open:after, .menu > li:hover:after,.menu > li.active:after {
			height: 5px;
			transition: height 0.08s linear 0.2s;
		}

		.menu {
			list-style: none;
			padding: 0;
			margin: 0;
			float:right;
			z-index: 1;
			margin-right:-20px;
			> li{
				display: block;
				float: left;
				z-index: 1;
				position: relative;
				&:after {
					content: ' ';
					display: block;
					position: absolute;
					bottom: 100%;
					left: 0;
					right: 0;
					height: 0px;
					background: darken($blue, 50);
					transition: height 0s linear 0s;
				}
				&:before{
					content: ' ';				
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 0%;
					background: darken($blue, 25);
					transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
				}
				&.open{
					.dropdown {
					    height:auto;
					    background-color: #0a7fa4;
					    > ul{
					    	opacity:1;
							-webkit-transform:translateY(0px);
							-moz-transform:translateY(0px);
							-ms-transform:translateY(0px);
							transform:translateY(0px)
					    }
					}
				}
				> a {
					display: block;
					padding: 27px 20px;
					text-decoration: none;
					white-space: nowrap;
					color: #fff;
					text-transform: uppercase;
					position: relative;
					z-index: 1;
					position: relative;
					letter-spacing:2px;
					@include transition(color, .35s, ease);
					&:after{
						content: ' ';
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: -1;
						right: 0;
						height: 0%;
						background: darken($blue, 25);
						transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
					}
					&:hover{
						&:after{
							height: 100%;
						}
					}
				}

			}
			
		}	
		.dropdown{
			border: none;
			border-radius: 0px;
			box-shadow: none;
			padding: 0px;
			z-index: 100;
			background: none;
			overflow: hidden;
			display: block;
			height: 0px;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			float: left;
			min-width: 160px;
			list-style: none;
			@include font-size(1.4);
			background-clip: padding-box;
			transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
			> ul{
				position: relative;
				padding:10px 0px;
				margin: 0;
				cursor: default;
				background: none;
				/*width: 9999px;
				height: 44px;*/
				overflow: hidden;
				-webkit-transform: translateY(-10px);
				-moz-transform: translateY(-10px);
				-ms-transform: translateY(-10px);
				transform: translateY(-10px);
				opacity: 0;
				filter: alpha(opacity=0);
				transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
				> li{
					/*display: inline-block;*/
					padding-left: 5px;
					padding-right: 5px;
					position: relative;
					> a{
						display: block;
						background: none;
						padding: 10px 15px;
						letter-spacing: 2px;
						color:$white;
						text-transform: uppercase;
						@include font-size(1);
						@include transition(color, .35s, ease);
						&:hover{
							color:$darkBlue;
						}
					}
					/*&:first-child{
						> a{
							padding-left:15px;
						}
					}*/
				}
			}
		}	
	}
}