.section{
	padding:80px 0px;
	position: relative;
	&.grey{
		background:#eee;
	}
	&.half-background{
		&:after{
			content:'';
			position: absolute;
			width:100%;
			height: 260px;
			bottom:0px;
			background:#f2f2f2;
			z-index:-1;
		}
	}
}

.banner-container{
	padding-top:111px;
	height:100%;
	background:url('../images/banner3.jpg') no-repeat $black;
	background-size: cover;
	/*background-attachment: fixed;*/
	.banner{
		width:100%;
		height:100%;
		position: relative;
		background-position: bottom center;
		.curtain{
		    display: block;
		    content: '';
		    background: #fff;
		    position: absolute;
		    bottom: 0px;
		    height: 0px;
		    left: 0;
		    width: 100%;
		    z-index: 24000;
		    @include hacks();
		    transition: height 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		    &.waiting{
				height:100%;
			}
		}
		h1{
			text-transform: uppercase;
			font-weight: 100;
			color: white;
			text-align: center;
			@include font-size(2.0);
			letter-spacing: 8px;
			padding-top: 20px;
		}
		.banner-text-container{
			display: table;
			margin: 0 auto;
			vertical-align: middle;
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			.banner-text{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
			h2{
				color: white;
				text-transform: uppercase;
				font-weight: 100;
				letter-spacing: 14px;
				@include font-size(2.3);
				text-indent: 10px;
				
				@include animation('bannerH2 2s ease-in forwards');
			}
			h3{
				@include font-size(9.0);
				text-transform: uppercase;
				color: white;
				font-weight: 400;
				line-height: 90px;
				letter-spacing: 8px;
				
				@include animation('bannerH3 2s ease-in forwards');
			}
			.btn.white{
				$outerBorderWidth: 2px;
				$innerBorderWidth: 4px;
				@include hacks();
				position: relative;
				background:$darkBlue;
				border:none;
				padding: 15px 25px;
				font-weight: 100;
				letter-spacing: 5px;
				margin: 25px 0px 0px;
				@include font-size(1.7);

				&:before {
					border-radius:2px;
					content: '';
					position: absolute;
					border: $darkBlue solid $outerBorderWidth;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					@include prefixed(transition-duration, .3s);
					@include prefixed(transition-property, "top, right, bottom, left");
				}

				&:hover:before,
				&:focus:before,
				&:active:before {
					top: -($outerBorderWidth + $innerBorderWidth);
					right: -($outerBorderWidth + $innerBorderWidth);
					bottom: -($outerBorderWidth + $innerBorderWidth);
					left: -($outerBorderWidth + $innerBorderWidth);
				}
			}
		}
		@keyframes bannerH2{
			0% {
				opacity: 0;
				margin-left:-200px;
			}
			100% {
				opacity: 1;
				margin-left: 0px;
			}
		}
		@keyframes bannerH3{
			0% {
				opacity: 0;
				margin-left: 200px;
			}
			100% {
				opacity: 1;
				margin-left: 0;
			}
		}
		@keyframes opacity: {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}	
}


.main{
	.videos{
		background: #f2f2f2;
    	padding: 80px 0px;
    	.vimeo{
    		border-right: 2px solid #eee;
    		&.small{
    			border-right:none;
    			border-bottom: 1px solid #eee;
    			&:last-child{
    				border-bottom:none;
    				border-top: 1px solid #eee;
    				border-radius: 0px 0px 3px 0px;
    			}
    		}
    	}
	}
	.vimeo{
		position:relative;
		background:$black;
		height:400px;
		overflow:hidden;
		border-radius: 3px 0px 0px 3px;
		iframe{
			width:99%;
			height:100%;
		}
		.video-content{
			cursor:pointer;
			&:hover{
				.play-button{
					border: 3px solid $blue;
					&:after{
						border-left: 30px solid $blue;
					}
				}
			}
			.overlay{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				background-size: cover !important;
				&:after{
					content:'';
					width: 100%;
					height: 100%;
					display: block;
					background: -moz-linear-gradient(top,  rgba(0,0,0,0) 41%, rgba(0,0,0,0.65) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(41%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 41%,rgba(0,0,0,0.65) 100%);
					background: -ms-linear-gradient(top,  rgba(0,0,0,0) 41%,rgba(0,0,0,0.65) 100%);
					background: linear-gradient(to bottom,  rgba(0,0,0,0) 41%,rgba(0,0,0,0.65) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
				}
			}
			/*.logo{
				background: url("../images/logo2.png");
				position: absolute;
				top: 10px;
				right: 10px;
				width: 70px;
				height: 53px;
				background-size: cover;
			}*/
			.play-button{
				position: absolute;
				z-index: 1;
				width: 90px;
				height: 90px;
				background: rgba(0,0,0,0.1);
				border: 3px solid white;
				border-radius: 50%;
				text-indent: -9999px;
				left: 50%;
				top: 50%;
				margin-left: -45px;
				margin-top: -45px;
				@include transition(all, .35s, ease);
				&:after{
					content: '';
					width: 0;
					height: 0;
					border-top: 20px solid transparent;
					border-bottom: 20px solid transparent;
					border-left: 30px solid $white;
					position: absolute;
					left: 50%;
					margin-left: -10px;
					top: 50%;
					margin-top: -20px;
					@include transition(all, .35s, ease);
				}
				&:hover{
					border: 3px solid $blue;
					&:after{
						border-left: 30px solid $blue;
					}
				}
				&:active, &:focus{
				border:none;
				outline:none;
				}
				&.small{
					position: absolute;
					z-index: 1;
					width: 34px;
					height: 34px;
					background: rgba(0,0,0,0.1);
					border: 2px solid $blue;
					border-radius: 50%;
					text-indent: -9999px;
					left: 15px;
					bottom: 15px;
					top: auto;
					margin: 0px;
					&:after{
						content: '';
						width: 0;
						height: 0;
						border-top: 8px solid transparent;
						border-bottom: 8px solid transparent;
						border-left: 12px solid $blue;
						position: absolute;
						left: 50%;
						margin-left: -4px;
						top: 50%;
						margin-top: -8px;
					}
				}
			}
			.video-title{
				position: absolute;
				color: white;
				bottom: 15px;
				z-index: 1;
				left: 20px;
				@include font-size(1.7);
				letter-spacing: 3px;
			}
		}

		.error-text{
			position: absolute;
			text-align: center;
			display: table;
			width: 100%;
			height: 100%;
			@include font-size(3.0);
			color: #666;
			p{
				display: table-cell;
    			vertical-align: middle;
			}
		}

		&.small{
			height:200px;
			border-radius: 0px 3px 3px 0px;
			.video-content{
				&:hover{
					.play-button{
						border: 2px solid $blue;
						&:after{
							border-left: 15px solid $blue;
						}
					}
				}
				.play-button{
					width:50px;
					height:50px;
					margin-left:-25px;
					margin-top:-25px;
					border: 2px solid $white;
					&:after{
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						border-left: 15px solid $white;
						margin-left: -6px;
						margin-top: -10px;
					}
					&:hover{
						border: 2px solid $blue;
						&:after{
							border-left: 15px solid $blue;
						}
					}
					&.small{
						width:24px;
						height:24px;
						margin:0px;
						left:10px;
						bottom:10px;
						border:2px solid $blue;
						&:after{
							border-top: 4px solid transparent;
							border-bottom: 4px solid transparent;
							border-left: 6px solid $blue;
							margin-left: -2px;
							margin-top: -4px;
						}
					}
				}
				.video-title{
				    bottom: 12px;
					left: 15px;
					@include font-size(1.4);
					letter-spacing: 2px;
				}
				.logo{
					top: 7px;
					right: 7px;
					width: 50px;
					height: 38px;
				}
			}
			.error-text{
				@include font-size(2.0);
			}
		}

	}

	.section-text{
		margin-bottom: 50px;
		h2{
			text-align: center;
			text-transform: uppercase;
			font-weight: 100;
			letter-spacing: 6px;
			@include font-size(3.0);
			margin-bottom:10px;
		}
		p{
			@include font-size(1.6);
			text-align: center;
			letter-spacing: 2px;
			line-height: 29px;
		}
	}

	.counter{
		border: 1px solid #ddd;
		text-align: center;
		padding: 50px 0px;
		background: url("../images/counter-background.jpg");
		background-size: cover;
		height: 330px;
		border-bottom: none;
		border-radius: 3px;
		.count{
			width: 231px;
			margin: 0 auto;
			border: 2px solid $blue;
			padding: 10px 10px 12px;
			h2{
				margin: 0px;
				@include font-size(5.8);
				font-weight: 400;
				line-height: 58px;
				margin-bottom: 8px;
				color:$blue;
			}
			p{
				margin: 0px;
				@include font-size(1.4);
				text-transform: uppercase;
				line-height: 14px;
				font-weight:400;
				color:$darkBlue;
				letter-spacing: 3px;
			}
		}
	}

	.sign-up{
		border:1px solid #ddd;
		padding: 20px 20px;
		background: url("../images/signup-background.jpg");
		background-size: cover;
		height:330px;
		display: table;
		width:100%;
		border-radius: 3px;
		.sign-up-content{
			display: table-cell;
			vertical-align: middle;
			p{
				text-align: center;
				color: $grey-dark;
				margin: 0px;
				text-transform: uppercase;
				font-weight: 400;
				line-height: 14px;
				&:first-child{
					margin-top: 3px;
					@include font-size(1.4);
					letter-spacing: 8px;
					margin-left: 8px;
				}
				&:nth-child(3){
					letter-spacing: 5px;
					margin-left: 6px;
				}
				&.free{
					@include font-size(5.8);
					display: block;
					line-height: 50px;
					margin: 10px 0px 12px;
					font-weight: 400;
					color: $blue;
					span{
						@include font-size(5.2);
						font-weight:300;
					}
				}
			}
			a{
				color: $white;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3bc6f3+0,37b4dd+100 */
				background: $darkBlue; /* Old browsers */
				display: block;
				text-align: center;
				text-decoration: none;
				padding: 8px 0px;
				margin-top: 20px;
				@include font-size(2.3);
				text-transform: uppercase;
				font-weight: 500;
				width: 260px;
				margin: 12px auto 0px;
				letter-spacing: 4px;
			}
		}
		
	}

	.players{
		position:relative;
		border: 1px solid #ddd;
		padding: 50px 20px;
		background-size: cover;
		border-radius: 3px;
		/*background: url(../images/coaches-background.jpg) #fff;*/
		background-size:cover;
		.player-container{
			.player{
				/*background: url("../images/players.png");*/
				height: 423px;
				background-size: cover;
				width: 420px;
				margin: 0px auto;	
			}
		}
		.name{
			padding: 7px;
			text-align: center;
			background: $darkBlue;
			margin: 0px 0px;
			color: #fff;
			text-transform: uppercase;
			font-weight: 400;
			@include font-size(1.4);
			margin-bottom: 10px;
			letter-spacing: 2px;
			border-radius: 2px;
		}

		.player-one{
			.player-container{
				.player{
					background-position: 0px 0px;
				}
			}
		}
		
		.player-two{
			.player-container{
				.player{
					background-position: -166px 0px;
				}
			}
		}
	}
}


.arrow-down {
	display: block;
	width: 60px;
	height: 60px;
	position:absolute;
	left:50%;
	margin-left:-30px;
	bottom:10px;
	svg line {
		stroke: #fff;
		stroke-width: 2px;
	}
	svg circle {
		stroke: #fff;
		stroke-width: 2px;
		stroke-dasharray: 500;
		stroke-dashoffset: 500;
		fill: none;
	}
	&.as-circle-full svg circle {
		@include animation('circle-full 2s ease-in-out alternate forwards');
	}
	&.as-circle-none svg circle {
		@include animation('circle-none 2s ease-in-out forwards');
	}
	@include keyframes(circle-full) {
		0% { stroke-dashoffset: 500;}
		100% { stroke-dashoffset: 0;}
	}
	@include keyframes(circle-none) {
		0% { stroke-dashoffset: 0;}
		100% { stroke-dashoffset: 500;}
	}
}

.scroll-button {
	display: none;
	width: 60px;
	height: 60px;
	position:fixed;
	right:20px;
	bottom:20px;
	cursor:pointer;
	z-index:1;
	opacity:0.5;
	@include transition(all, .3s, ease-in-out);
	svg{
		display:none;
		line {
			stroke: #999;
			stroke-width: 2px;
		}
		circle {
			stroke: #999;
			stroke-width: 2px;
			stroke-dashoffset: 500;
			fill: none;
		}
	}
	&:hover{
		opacity:1;
	}
}

.video-page{
	h1{
		@include font-size(3.0);
		text-align:center;
		margin-bottom:10px;
		letter-spacing:5px;
		font-weight:100;
		text-transform:uppercase;
	}
	
}